<div class="row">
  <h1>Local Services</h1>
</div>

<div ng-controller="ServicesCntl">
  <div class="services" ng-repeat="service in services">
    <div class="service row" ng-show="{{ service.description.length > 0 }}">
      <div class="header row">
        <div class="name large-6 columns">
          <h3> {{service.name}} </h3>
        </div>

        <div class="website large-3 columns" ng-show="{{ service.urls.length > 0 }}">
          <a href="{{ service.urls[0] }}">(website)</a>
        </div>

      </div>

      <div class="details row">
        <div class="large-11 columns">
          {{ service.description }}

          <div class="hours">
            <strong>Hours</strong>: {{ service.hours }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

